In [1]:
# import libraries
import pandas as pd
from sklearn.svm import OneClassSVM
import matplotlib.pyplot as plt
from numpy import where
import numpy as np

In [11]:
df = pd.read_csv("../dataset/DATA_FINAL_442.csv")

In [18]:
df = df.loc[:,df.columns != "Column1"]

In [19]:
df

        RESP  ABPmean  ABPsys  ABPdias   SpO2     HR  PULSE  ALARM
0       32.0     72.0   121.0     50.0    0.0   80.0    0.0   True
1       32.0     71.0   121.0     50.0    0.0   80.0    0.0   True
2       31.0     71.0   120.0     49.0    0.0   80.0    0.0   True
3       30.0     71.0   121.0     50.0    0.0   80.0    0.0   True
4       30.0     71.0   120.0     49.0    0.0   80.0    0.0   True
...      ...      ...     ...      ...    ...    ...    ...    ...
123549  18.0    113.0   147.0     95.0  100.0  102.0   76.0  False
123550  18.0    113.0   147.0     95.0  100.0  102.0   76.0  False
123551  18.0    114.0   147.0     95.0  100.0  105.0   76.0  False
123552  20.0    113.0   147.0     95.0  100.0  105.0   76.0  False
123553  20.0    113.0   150.0     94.0    NaN    NaN    NaN  False

[123554 rows x 8 columns]

In [22]:
for i in df:
    df[i].fillna(df[i].mean(),inplace = True)

C:\Users\A2IN\AppData\Local\Temp\ipykernel_3300\1976083917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].dropna()

In [9]:
cou = 0
for i in range(len(df)):
    if df.loc[i,"PULSE"] == pd.np.nan:
        cou +=1
print(cou)

C:\Users\A2IN\AppData\Local\Temp\ipykernel_9408\1430086963.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  if df.loc[i,"PULSE"] == pd.np.nan:

0

In [10]:
for col in df:
    df[col].dropna()

In [12]:
df = df.dropna()

In [13]:
df

        RESP  ABPmean  ABPsys  ABPdias   SpO2     HR  PULSE  ALARM
0       32.0     72.0   121.0     50.0    0.0   80.0    0.0   True
1       32.0     71.0   121.0     50.0    0.0   80.0    0.0   True
2       31.0     71.0   120.0     49.0    0.0   80.0    0.0   True
3       30.0     71.0   121.0     50.0    0.0   80.0    0.0   True
4       30.0     71.0   120.0     49.0    0.0   80.0    0.0   True
...      ...      ...     ...      ...    ...    ...    ...    ...
123548  18.0    113.0   148.0     93.0  100.0  101.0   69.0  False
123549  18.0    113.0   147.0     95.0  100.0  102.0   76.0  False
123550  18.0    113.0   147.0     95.0  100.0  102.0   76.0  False
123551  18.0    114.0   147.0     95.0  100.0  105.0   76.0  False
123552  20.0    113.0   147.0     95.0  100.0  105.0   76.0  False

[117622 rows x 8 columns]

In [14]:
from sklearn.ensemble import IsolationForest

In [1]:
df1 = df.loc[:,df.columns != "ALARM"]

NameError: name 'df' is not defined

In [16]:
df1["ABP"] = df.iloc[:,1:4].mean(axis = 1)

In [25]:
df1 = df1.drop(["ABPmean","ABPdias","ABPsys"],axis = 1)

In [26]:
df1

        RESP   SpO2     HR  PULSE         ABP
0       32.0    0.0   80.0    0.0   81.000000
1       32.0    0.0   80.0    0.0   80.666667
2       31.0    0.0   80.0    0.0   80.000000
3       30.0    0.0   80.0    0.0   80.666667
4       30.0    0.0   80.0    0.0   80.000000
...      ...    ...    ...    ...         ...
123548  18.0  100.0  101.0   69.0  118.000000
123549  18.0  100.0  102.0   76.0  118.333333
123550  18.0  100.0  102.0   76.0  118.333333
123551  18.0  100.0  105.0   76.0  118.666667
123552  20.0  100.0  105.0   76.0  118.333333

[117622 rows x 5 columns]

In [27]:
cou = 0
for i in df["ALARM"]:
    if i == True:
        cou+=1
print(cou)
outlier_fraction = cou/len(df["ALARM"])
print(outlier_fraction)

77199
0.6563312985665947

In [28]:
exp = IsolationForest( random_state=42)
y_pred = exp.fit_predict(df1)

In [36]:
cou = 0
for i in y_pred:
    if i == 1:
        cou+=1
print(cou)

91571

In [32]:
len(y_pred)

117622

In [31]:
len(df)

117622

In [35]:
print(df.loc[12352,"ALARM"])

True

In [30]:
act = []
for i in range(len(df["ALARM"])):
    if df.loc[i,"ALARM"] == True:
        act.append(-1)
    else :
        act.append(1)

KeyError: 585

In [ ]:
cou = 0
for i in act:
    if i == -1:
        cou+=1
print(cou)

In [ ]:
i = 0
tp =tn =fp =fn = 0

for i in range(len(y_pred)):
    if act[i] == y_pred[i]:
        if act[i] == 1:
            tp +=1
        else :
            tn +=1
    else :
        if y_pred[i] == -1:
            fp += 1
        else :
            fn += 1

In [23]:
accuracy = (tp+tn)/(tp+tn+fn+fp)
tpr = tn/(tn+fn)
far = fp/(fp+tp)

NameError: name 'tp' is not defined

In [118]:
print(accuracy,tpr,far)

0.34622917914434176 0.13993735114424768 0.30953820899390905