In [1]:
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor
import matplotlib.pyplot as plt
from numpy import where
import numpy as np

In [2]:
df = pd.read_csv("../dataset/DATA_FINAL.csv")

C:\Users\A2IN\AppData\Local\Temp\ipykernel_16308\3358253211.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../dataset/DATA_FINAL.csv")

In [3]:
df

        RESP  ABPmean  ABPsys  ABPdias  Tblood   SpO2     HR  PULSE  ALARM
0       15.0     89.0   114.0     78.0    37.1  100.0  101.0  100.0  False
1       15.0     89.0   114.0     78.0    37.1  100.0  101.0  101.0  False
2       15.0     89.0   113.0     78.0    37.1  100.0  101.0  101.0  False
3       15.0     89.0   113.0     78.0    37.1  100.0  101.0  101.0  False
4       15.0     89.0   114.0     78.0    37.1  100.0  101.0  101.0  False
...      ...      ...     ...      ...     ...    ...    ...    ...    ...
131244  23.0    111.0   132.0     99.0    37.0   98.0  109.0  108.0  False
131245  23.0    111.0   132.0    100.0    37.0   98.0  109.0  108.0  False
131246  23.0    111.0   132.0    100.0    37.0   98.0  109.0  108.0  False
131247  23.0    112.0   133.0    101.0    37.0   98.0  109.0  108.0  False
131248  23.0    112.0   133.0    101.0    37.0   98.0  109.0  109.0  False

[131249 rows x 9 columns]

In [4]:
df1 = df.loc[:,df.columns != "ALARM"]
df1["ABP"] = df.iloc[:,1:4].mean(axis = 1)
df1 = df1.drop(["ABPmean","ABPdias","ABPsys"],axis = 1)

In [5]:
df1

        RESP  Tblood   SpO2     HR  PULSE         ABP
0       15.0    37.1  100.0  101.0  100.0   93.666667
1       15.0    37.1  100.0  101.0  101.0   93.666667
2       15.0    37.1  100.0  101.0  101.0   93.333333
3       15.0    37.1  100.0  101.0  101.0   93.333333
4       15.0    37.1  100.0  101.0  101.0   93.666667
...      ...     ...    ...    ...    ...         ...
131244  23.0    37.0   98.0  109.0  108.0  114.000000
131245  23.0    37.0   98.0  109.0  108.0  114.333333
131246  23.0    37.0   98.0  109.0  108.0  114.333333
131247  23.0    37.0   98.0  109.0  108.0  115.333333
131248  23.0    37.0   98.0  109.0  109.0  115.333333

[131249 rows x 6 columns]

In [7]:
df1 = df1.dropna()

In [19]:
y_pred = LocalOutlierFactor()
y_pred = y_pred.fit_predict(df1.loc[:"HR"])

In [20]:
cou = 0 
for i in y_pred:
    if i == 0:
        cou +=1
print(cou)

0

In [21]:
cou = 0
for i in df["ALARM"]:
    if i == True:
        cou+=1
print(cou)
outlier_fraction = cou/len(df["ALARM"])
print(outlier_fraction)

4263
0.03248024746855214

In [22]:
act = []
for i in range(len(df["ALARM"])):
    if df.loc[i,"ALARM"] == True:
        act.append(-1)
    else :
        act.append(1)

In [29]:
i = 0
tp =tn =fp =fn = 0

for i in range(len(y_pred)):
    if act[i] == y_pred[i]:
        if act[i] == 1:
            tn +=1
        else :
            tp +=1
    else :
        if y_pred[i] == -1:
            fn += 1
        else :
            fp += 1

In [30]:
print(tp,tn,fp,fn)

186 112347 2521 11500

In [31]:
accuracy = (tp+tn)/(tp+tn+fn+fp)
tpr = tp/(tp+fn)
far = fp/(fp+tn)

In [32]:
print(accuracy,tpr,far)

0.8892093493686489 0.015916481259626903 0.021946930389664658